.container {
    padding: 10px 15px;
    background-color: #00a6ff;
    border-radius: 5px;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    cursor: pointer;
}
